

/* Base font, text color, scroll, font, etc. */
* {
    box-sizing:border-box;
    color:grey;
    /* background-color:rgb(0, 0, 0); */
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
    
}

@font-face {
    font-family:"magneto";
    /* Font from Adobe fonts with legitimate account */
    src:url("https://use.typekit.net/af/9d8778/00000000000000003b9ae330/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9d8778/00000000000000003b9ae330/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9d8778/00000000000000003b9ae330/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
    }
@font-face {
    font-family: 'Fuzzy Bubbles';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/fuzzybubbles/v1/6qLGKZMbrgv9pwtjPEVNV0F2BnTzZg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

/* Base sizing for main document */
body {
    display:grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1.5fr auto auto auto 2fr;
    grid-gap: 10px;
    /* border: solid 2px rgb(242, 39, 39); */
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(0, 0, 0);    

}


/* Header and top nav */

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 30px 20px 20px 20px;
    margin: 10px 20px 0px 10px;
}

header h1 {
    text-align:center;
    color:rgb(255,138,0);
    /* border: solid 2px rgb(200,200,200); */
    font-size:40px;
    margin-left: 15%;
    padding: 0px 0px 15px 0px;

}

header nav ul {
    margin-left: 13.25%;
    text-align:center;
    /* border:solid 2px rgba(255, 0, 0, .45); */
}

/* Top right social media / Contact information */

.media nav a {

    color:rgb(255,138,0);
    padding: 30px 18px;
    margin: 0px 12px;
    font-size:22px;
    text-decoration: underline;

}
.media nav {
    /* border: dashed 1px rgb(100, 100, 100); */
    padding-top:20px;
    margin: 15px 40px 0px 0px;
    text-align:right;
}


/* List/Navigation adjustments */

ul li {
    display:inline-block;
    color:rgb(255,138,0);
    /* border:solid 2px rgba(255, 0, 0, .45); */
    padding: 6px 18px;
    margin: 0px 12px;
    font-size:22px;

}
#topNav ul li {
    display:inline-block;
    color:rgb(255,138,0);
    /* border:solid 2px rgba(255, 0, 0, .45); */
    padding: 0px 16px;
    margin: 0px 12px 0px 12px;
    font-size:26px;
    /* border:2px solid white; */

}
#topNav {
    margin:0;
    padding:0;
    /* border:2px solid white; */

}
/* #sidebar ul :nth-child(5) {
    border-bottom:2px solid rgba(100,100,100, .05);
    border-radius:1px;
} */
#sidebar ul li {
    border-right:2px solid rgba(100,100,100, .05);
    border-radius:1px;
}


ul li a {
    color:rgb(255,138,0);
    text-decoration:none;

}

ul li a:link {
    color:rgb(255,138,0);
    text-decoration:none;
}

#topNav ul li a:hover {
    color:rgb(255,138,0);
    text-decoration:underline;
}

aside ul li a:hover {
    color:rgb(255,138,0);
    text-decoration:overline;
}
ul li a:active {
    text-decoration:line-through;
    color:rgb(255,138,0);
}

/* Sidebar specific styling */


u {
    color:rgb(0,198,255);
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;


}

#sidebar ul {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    position:fixed;

}

/* Main / front page styling  */

main {
    /* border: solid 2px rgb(200,200,200); */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:5;
    display:inline-block;
    background-image:url("../media/images/table.jpg")!important;
    background-repeat:no-repeat!important;
    background-size:cover;
    background-position-y:-250px;
    /* border:2px solid white; */
    margin-top:0;
    padding-top:0;



}


main div section {
    scroll-snap-align: start none;
}
#goback {
    scroll-snap-align: start none;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height:1100px;
}
#goback article h1 {
    color:rgb(71, 71, 71)!important;
}


/* Button Styling */


#goback button {
    width:200px;
    height:80px;
    text-decoration: none;
    background-color:rgba(255,138,0, .3);
    border:0;
    margin-top:40px;
}

#intro button {
    margin: 0px 0px 100px 0px;
    width:240px;
    height:80px;
    text-decoration: none;
    background-color:rgba(255,138,0, .4);
    border:0;
}

main button strong a, main button strong {
    text-decoration: none;
    color:rgb(19, 19, 19);
    background-color:rgba(255,138,0, .0001);
    font-size:36px;
    font:small-caps;
}


/* Splash styling */
#goback article h1 {
    font-size:140px;
    font-family:magneto;
    color:rgb(100,100,100);
}
#goback article {
    
    text-align:center;
    padding-top: 200px;
    margin:90px 10px 20px 10px;
    
}
#goback article  i {
    font-family:magneto;
    font-size:38px;
    color:rgba(194, 0, 0, 0.616);
}
#goback article  p {
    font-family:'Fuzzy Bubbles';
    font-size:70px;
    color:rgba(194, 0, 0, 0.616);
}